body {
  background-color: #9eab9d;
}
.page {
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 25px;
  width: 1300px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  font-weight: 100;
}

.container {
  display: flex;
}

.text-thirds {
  padding-left: 90px;
  padding-right: 20px;
  text-align: justify;
}

.text-half {
  padding-left: 90px;
  padding-right: 50px;
}

.scatterplot {
  padding-left: 53px;
}

.vega-bindings {
  position: absolute;
  left: 635px;
  top: 280px;
  height: 200px;
  width: 500px;
}

.floating-text {
  position: absolute;
  left: 170px;
  top: 490px;
  height: 200px;
  width: 150px;
  z-index: 1;
  font-size: 12.5px;
}