body {
  background-color: #9eab9d;
}
.page {
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 25px;
  width: 1300px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 100;
}

.container {
  display: flex;
}

.text-thirds {
  padding-left: 90px;
  padding-right: 20px;
  text-align: justify;
}

.text-half {
  padding-left: 90px;
  padding-right: 50px;
}

.scatterplot {
  padding-left: 53px;
}

.vega-bindings {
  position: absolute;
  left: 635px;
  top: 280px;
  height: 200px;
  width: 500px;
}

.scatterplot-text {
  position: absolute;
  margin-left: 105px;
  margin-top: 40px;
  height: 200px;
  width: 225px;
  z-index: 1;
  font-size: 11px;
}

.divider {
  background: #dc9e6e;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 0.5px;
  border-radius: 1px;
  padding-bottom: 5px;
}

.wasting-outlier {
  position: absolute;
  margin-left: 207px;
  margin-top: 75px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.afr-overweight-outlier3 {
  position: absolute;
  margin-left: 812px;
  margin-top: 40px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.afr-overweight-outlier2 {
  position: absolute;
  margin-left: 745px;
  margin-top: 40px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.afr-overweight-outlier1 {
  position: absolute;
  margin-left: 683px;
  margin-top: 40px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.asia-overweight-outlier1 {
  position: absolute;
  margin-left: 771px;
  margin-top: 73px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.asia-overweight-outlier2 {
  position: absolute;
  margin-left: 721px;
  margin-top: 73px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.oce-overweight-outlier {
  position: absolute;
  margin-left: 753px;
  margin-top: 174px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.afr-stunting-outlier {
  position: absolute;
  margin-left: 1222px;
  margin-top: 40px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.eur-stunting-outlier {
  position: absolute;
  margin-left: 1055px;
  margin-top: 108px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.na-stunting-outlier {
  position: absolute;
  margin-left: 1194px;
  margin-top: 142px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}

.sa-stunting-outlier {
  position: absolute;
  margin-left: 1087px;
  margin-top: 209px;
  z-index: 1;
  font-size: 11px;
  font-style: italic;
}
