.page {
  background-color: #fefcf8;
  margin: auto;
  padding: 50px;
  padding-top: 25px;
  width: 1300px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  font-weight: 100;
}

.container {
  display: flex;
}

.text-thirds {
  padding-left: 90px;
  padding-right: 20px;
  text-align: justify;
}

.text-half {
  padding-left: 20px;
  padding-right: 90px;
}
.symbol_map {
  /* top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px; */
  /*height: 1000px;
	width: 800px;*/
}
