.page {
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 25px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;

}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.symbol_map {
  /* top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px; */
  /*height: 1000px;
	width: 800px;*/
}
